body {
    background: linear-gradient(45deg, #FF0080, #FF8C00, #4CAF50, #008080);
    background-size: 400% 400%;
    animation: gradientAnimation 10s infinite alternate;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
*{
    color: white;
    font-family: sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #252A34;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
}

button{
    background-color: #FF2E63;
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover{
    padding: 10px 29px;
    background-color: #08D9D6;
    color: #000;
}

